{% extends 'templates/base.html.twig' %}

{% block content %}
  {{message}}
  <form method="post">
    <div class="form-group">
      <label for="new_listing_email">Email address</label>
      <input type="email" class="form-control" id="new_listing_email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label for="new_listing_category">Category</label>
      <input type="text" class="form-control" id="new_listing_category" placeholder="Enter category" name="category">
    </div>
    <div class="form-group">
      <label for="new_listing_subcategory">Subcategory</label>
      <input type="text" class="form-control" id="new_listing_subcategory" placeholder="Enter subcategory" name="subcategory">
    </div>
    <div class="form-group">
      <label for="new_listing_price">Price</label>
      <input type="text" class="form-control" id="new_listing_price" placeholder="Enter price" name="price">
    </div>
    <div class="form-group">
      <label for="new_listing_amount">Quantity</label>
      <input type="text" class="form-control" id="new_listing_amount" placeholder="Enter number of items" name="quantity">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
