{% extends 'templates/base.html.twig' %}

{% block content %}
    <div>
        {% for field in listing|castToArray %}
            <span style="padding-right:15px">{{ field }} </span>
        {% endfor %}
    </div>
{% endblock %}
