<div class="alert alert-warning" role="alert">
  <strong>{{ language.warning }}</strong> {{ language.listing_removed_failed }} <a href="{{ path_for('single_listing', { 'id': listingId, 'lang': language.code }) }}">{{ language.go_back_to_listing }}</a>
</div>