<div class="alert alert-success" role="alert">
  <strong>{{ language.success }}</strong> {{ language.listing_removed_success }} <a href="{{ path_for('homepage', { 'lang': language.code }) }}">{{ language.go_back_to_start }}</a>
</div>
