<?php

use Monolog\Logger;

return [
    'settings' => [
        # Display errors, true in dev mode and false in prod mode.
        'displayErrorDetails' => true,

        # Allows the web server to set the Content-Length header which makes Slim behave more predictably.
        'addContentLengthHeader' => false,

        # Monolog logger config. Log folder and file must be writable
        'logger' => [
            'name' => 'startplats',
            'level' => Logger::DEBUG,
            'path' => __DIR__ . '/../logs/app.log',
            'test_path' => __DIR__ . '/../logs/apptest.log',
        ],

        'db' => [
            'adapter' => 'mysql',
            'host' => 'localhost',
            'name' => 'startplats',
            'user' => 'root',
            'pass' => 'password',
            'port' => '3306'
        ],

        'db_test' => [
            'adapter' => 'mysql',
            'host' => 'localhost',
            'name' => 'startplats_test',
            'user' => 'root',
            'pass' => 'password',
            'port' => '3306'
        ],

        'email' => [
            'from' => 'no-reply@mail.com',
            'name' => 'Webmaster',
            'smtp' => [
                'host'      => '',
                'port'      => 587,
                'username'  => '',
                'password'  => '',
                'protocol'  => '' // SSL or TLS
            ],
        ],

        'listings_limit' => 20,
    ],
];
