<?php
    return [
        "paths" => [
            "migrations" => "db/migrations"
        ],
        "environments" => [
            "default_migration_table" => "phinxlog",
            "default_database" => "dev",
            "dev" => [
                "adapter" => "mysql",
                "host" => 'localhost',
                "name" => 'startplats',
                "user" => getenv('STARTPLATS_DBUSER'),
                "pass" => getenv('STARTPLATS_DB_PASS'),
                "port" => getenv('STARTPLATS_DBPASS')
            ]
        ]
    ];

    /**
     *
     * TODO: maybe config and this file can be combined?
     *
     * Fill in values directly here or use env variables instead, as shown
     * below.
     *
     *  export STARTPLATS_DBHOST=localhost;
     *  export STARTPLATS_DBNAME=startplats;
     *  export STARTPLATS_DBUSER=user;
     *  export STARTPLATS_DB_PASS=pass;
     *  export STARTPLATS_DBPASS=3309:
     */