<p>You have received a message for your listing on Market Board. The listing in question is: <a href='http://market-board/listings/{{ params.listing_id }}'>http://market-board/listings/{{ params.listing_id }}</a></p>

<h3>The message:</h3>

<p>{{ params.message }}</p>


