<p>You have received a message for your listing on startplats. The listing in question is: <a href='http://startplats/listings/{{ params.listing_id }}'>http://startplats/listings/{{ params.listing_id }}</a></p>

<h3>The message:</h3>

<p>{{ params.message }}</p>


