<h1>Hello</h1>

<p>Your new listing can be found here: <a href='http://market-board/listings/{{ params.insertedId }}'>http://market-board/listings/{{ params.insertedId }}</a></p>

<p>To remove it, use your removal code: {{ params.removal_code }}</p>

<p>Love, Admin</p>
