<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <title>{{ language.title }}</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://kit.fontawesome.com/ffbe067ef0.js" crossorigin="anonymous"></script>
  </head>
  <body>
    {% include 'templates/navbar.html.twig'%}
    <div class="container mt-5">
      {% include 'templates/alert.html.twig'%}
      {% block content %}{% endblock %}
    </div>
    {% include 'templates/footer.html.twig'%}
  </body>
</html>
