<footer class="footer py-3 text-light bg-dark">
  <div class="container text-muted">
    <span>
      Contact: <a href="mailto:{{ settings.contactEmail }}">{{ settings.contactEmail }}</a>
    </span>
    <span class="float-right">
      <span class="align-middle">Made with Market Board</span>
      <a href="https://github.com/Ejdamm/market-board">
        <img class="ml-2" src="/images/GitHub-Mark-Light-32px.png" alt="GitHub logo" width="26" height="26">
      </a>
    </span>

  </div>
</footer>