<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/">Startplats</a>
  <a href="/listings/new" class="btn btn-success ml-auto mr-2" role="button">New</a>
</nav> 